html {
  background: #ffffff;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background: #ffc422;
  border: 3vh solid #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 70%;
  min-height: 94vh;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

button {
  margin-right: 24px;
  border: none;
  background-color: transparent;
  padding: 8px;
}

.button-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.photo {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(
    196.1deg,
    #9feeff 4.05%,
    #ffc422 51.18%,
    #ff5341 96.97%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.photo img {
  width: 92%;
  height: 92%;
  border-radius: 50%;
  position: relative;
}

.content {
  flex-grow: 1;
}

.content p {
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;
  color: #523127;
  display: block;
}

.highlight {
  position: relative;
  background: rgba(255, 83, 65, 0.5);
}

.content p a {
  color: #523127;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.link {
  position: relative;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(196.1deg, #9feeff, #ffc422);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.link:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(196.1deg, #ffc422, #ff5341);
}

footer {
  margin-top: 92px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin-right: 32px;
}

footer ul li a i {
  color: #523127;
}

@media only screen and (max-width: 600px) {
  .content p {
    font-size: 30px;
  }

  .buttons {
    flex-direction: column;
    margin-bottom: 24px;
  }
  button {
    margin-right: 0px;
    font-size: 21px;
  }
}
