html {
  background: #ffffff;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background: #ffc422;
  border: 32px solid #ffffff;
  box-sizing: border-box;
  display: block;
}

.box {
  width: 70%;
  min-height: 75vh;
  margin: 92px 15%;
}

.content {
  margin-top: 92px;
  margin-bottom: 92px;
}

.content p {
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;
  color: #523127;
  display: block;
  position: relative;
}

.content span {
  color: #ff5341;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #9feeff;
}

footer {
  margin-top: 92px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

footer ul li a i {
  color: #523127;
  margin-right: 32px;
}

@media only screen and (max-width: 600px) {
  .content p {
    font-size: 30px;
  }
}
