html {
  background: #ffffff;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background: #ffc422;
  border: 32px solid #ffffff;
}

.box {
  width: 70%;
  min-height: 75vh;
  margin: 92px 15%;
}

/* header {
  margin-top: 92px;
} */

header ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 32px;
}

.header-item a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
  color: #523127;
  text-decoration: none;
  display: block;
}

.header-item i {
  margin-left: 10px;
  color: #ff5341;
  align-items: baseline;
}

.content {
  margin-top: 92px;
  margin-bottom: 92px;
}

.content p {
  font-family: Inter;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;
  color: #523127;
}

footer {
  margin-top: 92px;
  /* margin-bottom: 92px; */
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

footer ul li a i {
  color: #523127;
  margin-right: 32px;
}
